<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>支付</title>
</head>
<body>
<form action="/pay" method="post">
    订单号2：<input type="text" name="WIDout_trade_no" required><br/>
    订单名称2：<input type="text" name="WIDsubject" required><br/>
    付款金额2：<input type="text" name="WIDtotal_amount" required><br/>
    WIDbody2：<input type="text" name="WIDbody"><br/>
    <input type="submit" value="下单"> <input type="reset" value="重置">
</form>

</body>
</html>