<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]-->
    <script type="text/javascript" src="/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/lib/respond.min.js"></script>
    <!-- [endif]-->
    <link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />

    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/jquery-2.1.4.min.js"></script>
    <!--[if IE 6]-->
    <script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <!--[endif]-->
    <title>详情</title>
</head>
<body>

<span th:if="${sb} eq 'notice-edit'" th:remove="tag">
		<article class="page-container">
			<form class="form form-horizontal" id="form-notice-edit" enctype="multipart/form-data" action="/notice/updateNotice" method="post">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公告id：</label>
					<div class="formControls col-xs-7">
						[[${notice.notice_id}]]
						<input type="hidden" th:value="${notice.notice_id}"  id="notice_id" name="notice_id">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>公告标题：</label>
					<div class="formControls col-xs-7">
						<input type="text" class="input-text" autocomplete="off" th:value="${notice.notice_title}" placeholder="" id="notice_title" name="notice_title">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">公告内容：</label>
					<div class="formControls col-xs-7">
						<textarea name="notice_content" id="notice_content" cols="" rows="" class="textarea"  placeholder="说点什么...400个字符以内" >[[${notice.notice_content}]]</textarea>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>公告发布时间：</label>
					<div class="formControls col-xs-7">
						<b>[[${notice.notice_date}]]</b>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>公告附件：</label>
					<div class="formControls col-xs-8">
						<b>[[${notice.notice_file}]]</b>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-3">替换附件：</label>
					<div class="formControls col-xs-7">
				<span class="btn-upload form-group">
						<input class="input-text upload-url" type="text" name="file" id="uploadfile-2" readonly style="width:250px">
						<a href="javascript:void(0);" class="btn btn-primary upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
					<input type="file"  name="file" class="input-file">
				</span>
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'notice-add'" th:remove="tag">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 公告管理 <span class="c-gray en">&gt;</span> 发布公告 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<article class="page-container">
			<form class="form form-horizontal" id="form-notice-add" action="/notice/addNotice"method="post"  enctype="multipart/form-data">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>发布人：</label>
					<div class="formControls col-xs-7">
						<b>[[${session.adminSelf.admin_name}]]</b>
						<input type="hidden" class="input-text" autocomplete="off"  th:value="${session.adminSelf.admin_id}" placeholder="" id="admin_id" name="admin.admin_id" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>标题：</label>
					<div class="formControls col-xs-7">
						<input type="text" class="input-text" placeholder="" name="notice_title" id="notice_title" required="required">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">内容：</label>
					<div class="formControls col-xs-7">
						<textarea name="notice_content" id="notice_content" cols="" rows="" class="textarea"  placeholder="说点什么...200个字符以内"  required="required"></textarea>
					</div>
				</div>
				<input type="hidden" class="input-text" placeholder="" name="notice_state" id="notice_state" value="1">
				<div class="row cl">
					<label class="form-label col-xs-3">附件：</label>
					<div class="formControls col-xs-7">
				<span class="btn-upload form-group">
						<input class="input-text upload-url" type="text" name="file" id="uploadfile-2" readonly style="width:200px">
						<a href="javascript:void(0);" class="btn btn-primary upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
					<input type="file"  name="file" class="input-file">
				</span>
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">[[${msg}]]
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'inform-add'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 通知管理 <span class="c-gray en">&gt;</span> 发送通知<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container">
	<form class="form form-horizontal" id="form-inform-add" enctype="multipart/form-data" action="/inform/addInform" method="post">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">发件人：</label>
		<div class="formControls col-xs-7">
			<b>[[${session.adminSelf.admin_name}]]</b>
			<input type="hidden" th:value="${session.adminSelf.admin_id}" id="admin_id" name="admin.admin_id" >
		</div>
	</div>

	<div class="row clearfix">
							<label class="form-label col-xs-3"><span class="c-red">*</span>接收人：</label>
							<div class="formControls col-xs-7">
								<div class="row clearfix" style="margin-top:0">
									<div class="col-xs-6">
										<span class="select-box">
											<select class="select" size="1"  id="mc_id" >
												<option value="-1" selected>- - - 请选择会员卡 - - -</option>
											 <th:block th:each="mc,mcStat : ${mc}">
													<option th:value="${mc.mc_id}">[[${mc.mc_content}]]</option>
											 </th:block>
											</select>
										</span>
									</div>
									<div class="col-xs-6">
										<span class="select-box">
											<select class="select" size="1" name="member.member_id" id="member_name" >
												<option value="" selected>- - - 请先选择会员卡 - - -</option>
											</select>
										</span>
									</div>
								</div>
							</div>
						</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>主题：</label>
		<div class="formControls col-xs-7">
			<input type="text" class="input-text" id="inform_title" name="inform_title">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">*内容：</label>
		<div class="formControls col-xs-7">
			<textarea name="inform_content" id="inform_content" cols="" rows="" class="textarea"  placeholder="说点什么...200个字符以内" ></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-3">相关附件：</label>
				<div class="formControls col-xs-7">
				<span class="btn-upload form-group">
						<input class="input-text upload-url" type="text" name="file" id="uploadfile-2" readonly style="width:250px">
						<a href="javascript:void(0);" class="btn btn-primary upload-btn"><i class="Hui-iconfont">&#xe642;</i> 浏览文件</a>
					<input type="file"  name="file" class="input-file">
				</span>
			</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;发送&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
		</span>

<span th:if="${sb} eq 'pwd-edit'" th:remove="tag">
<article class="page-container">
	<form class="form form-horizontal" id="form-user-passwordEdit">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>账户id：</label>
			<div class="formControls col-xs-7">
				<b>[[${user.user_id}]]</b>
				<input type="hidden" th:value="${user.user_id}" id="user_id" name="user_id" >
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>旧密码：</label>
			<div class="formControls col-xs-7">
				<input type="password" class="input-text" autocomplete="off" th:value="${user.user_pwd}"  readonly="readonly">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-7">
				<input type="password" class="input-text" autocomplete="off"  placeholder="6-15位新密码" id="user_pwd" name="user_pwd">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
			<div class="formControls col-xs-7">
				<input type="password" class="input-text" autocomplete="off" placeholder="重复密码" id="password" name="password">
			</div>
		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
			</div>
		</div>
	</form>
</article>
</span>

<span th:if="${sb} eq 'message-r'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 留言管理 <span class="c-gray en">&gt;</span> 已读留言 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="30">留言ID</th>
				<th width="70">会员卡号</th>
				<th width="60">会员</th>
				<th width="120">留言标题</th>
				<th width="80">留言时间</th>
			</tr>
			</thead>
			<tbody>
				 <th:block th:each="mes,messageStat : ${message}">
				<tr class="text-c">
					<td>[[${mes.mes_id}]]</td>
					<td>[[${mes.member.user.user_id}]]</td>
					<td>[[${mes.member.member_name}]]</td>
					<td>
						<a href="javascript:;" title="查看留言详情" th:onclick="message_show('公告详细信息','/message/toShowMessage?mes_id='+[[${mes.mes_id}]],'10001','','400')" class="ml-5" style="text-decoration:none">
							[[${mes.mes_title}]]
						</a>
					</td>
					<td>[[${mes.mes_time}]]</td>
				</tr>
				 </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>

<span th:if="${sb} eq 'message-nr'" th:remove="tag">
	<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 留言管理 <span class="c-gray en">&gt;</span> 未读留言 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
	<table class="table table-border table-bordered table-hover table-bg table-sort">
		<thead>
			<tr class="text-c">
				<th width="30">留言ID</th>
				<th width="70">会员卡号</th>
				<th width="60">会员</th>
				<th width="120">留言标题</th>
				<th width="80">留言时间</th>
			</tr>
		</thead>
		<tbody>
		 <th:block th:each="mes,messageStat : ${message}">
			<tr class="text-c">
				<td>[[${mes.mes_id}]]</td>
				<td>[[${mes.member.user.user_id}]]</td>
				<td>[[${mes.member.member_name}]]</td>
				<td>
					<a href="javascript:;" title="查看留言详情" th:onclick="'message_show(\'公告详细信息\',\'/message/toShowMessage?mes_id='+${mes.mes_id}+'\',\'10001\',\'500\',\'400\')'" class="ml-5" style="text-decoration:none">
							[[${mes.mes_title}]]
					</a>
				</td>
				<td>[[${mes.mes_time}]]</td>
			</tr>
		 </th:block>
		</tbody>
	</table>
	</div>
</div>
</span>

<span th:if="${sb} eq 'act-add'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 活动管理 <span class="c-gray en">&gt;</span> 新增活动<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container">
	<form class="form form-horizontal" id="form-activity-add" enctype="multipart/form-data" action="/activity/addActivity" method="post">
	<div class="row clearfix">
							<label class="form-label col-xs-3"><span class="c-red">*</span>活动负责人（教练）：</label>
							<div class="formControls col-xs-7">
								<div class="row clearfix" style="margin-top:0">
									<div class="col-xs-6">
										<span class="select-box">
											<select class="select" size="1"  id="coach_expert" >
												<option value="-1" selected>- - - 请选择教练特长 - - -</option>
											 <th:block th:each="coa,coaStat : ${coa}">
													<option th:value="${coa.coach_expert}">[[${coa.coach_expert}]]</option>
											 </th:block>
											</select>
										</span>
									</div>
									<div class="col-xs-6">
										<span class="select-box">
											<select class="select" size="1" name="coach.coach_id" id="coach_name" >
												<option value="" selected>- - - 请先选择教练特长 - - -</option>
											</select>
										</span>
									</div>
								</div>
							</div>
						</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>主题：</label>
		<div class="formControls col-xs-7">
			<input type="text" class="input-text" id="act_name" name="act_name">
		</div>
	</div>
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">*内容：</label>
		<div class="formControls col-xs-7">
			<textarea name="act_content" id="act_content" cols="" rows="" class="textarea"  placeholder="说点什么...200个字符以内" ></textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
		</div>
	</div>
			<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>时间：</label>
		<div class="formControls col-xs-7">
			<input type="datetime-local" th:value="2019-02-21"  id="act_time" name="act_time"/>
		</div>
	</div>
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;添加活动&nbsp;&nbsp;">
		</div>
	</div>
	</form>
</article>
		</span>

<span th:if="${sb} eq 'classHour-add'" th:remove="tag">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 课程管理 <span class="c-gray en">&gt;</span> 发布课程 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<article class="page-container">
			<form class="form form-horizontal" id="form-classHour-add" action="/admin/addClassHour"method="post"  enctype="multipart/form-data">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>名称：</label>
					<div class="formControls col-xs-7">
						<input type="text" class="input-text" placeholder="" name="ch_type" id="ch_type" required="required">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">内容：</label>
					<div class="formControls col-xs-7">
						<textarea name="ch_content" id="ch_content" cols="" rows="" class="textarea"  placeholder="说点什么...200个字符以内"  required="required"></textarea>
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">价格：</label>
					<div class="formControls col-xs-7">
						<input type="text"  class="input-text" placeholder="" name="ch_price" id="ch_price" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">[[${msg}]]
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'classHour-edit'" th:remove="tag">
	<article class="page-container">
			<form class="form form-horizontal" id="form-classHour-edit" enctype="multipart/form-data" action="/admin/updateClassHour" method="post">
				<input type="hidden"  th:value="${ch.ch_id}" id="ch_id" name="ch_id">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>课程名称：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${ch.ch_type}" id="ch_type" name="ch_type">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">课程内容：</label>
					<div class="formControls col-xs-7">
						<textarea  name="ch_content" id="ch_content" cols="" rows="" class="textarea"  placeholder="说点什么...400个字符以内" >[[${ch.ch_content}]]</textarea>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>课程价格：</label>
					<div class="formControls col-xs-7">
						<input type="text" th:value="${ch.ch_price}" class="input-text" placeholder="" name="ch_price" id="ch_price" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
				</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'memberCard-add'" th:remove="tag">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 课程管理 <span class="c-gray en">&gt;</span> 发布课程 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<article class="page-container">
			<form class="form form-horizontal" id="form-memberCard-add" action="/admin/addMemberCard"method="post"  enctype="multipart/form-data">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>总期限：</label>
					<div class="formControls col-xs-7">
						<input type="text"  class="input-text" placeholder="" name="mc_quantity" id="mc_quantity" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">会员卡简介：</label>
					<div class="formControls col-xs-7">
						<textarea name="mc_content" id="mc_content" cols="" rows="" class="textarea"  placeholder="说点什么...200个字符以内"  required="required"></textarea>
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">价格：</label>
					<div class="formControls col-xs-7">
						<input type="text"  class="input-text" placeholder="" name="mc_price" id="mc_price" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">[[${msg}]]
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'memberCard-edit'" th:remove="tag">
	<article class="page-container">
			<form class="form form-horizontal" id="form-memberCard-edit" enctype="multipart/form-data" action="/admin/updateMemberCard" method="post">
				<input type="hidden"  th:value="${mc.mc_id}" id="mc_id" name="mc_id">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>会员卡总期限：</label>
					<div class="formControls col-xs-7">
						<input type="text" th:value="${mc.mc_quantity}" class="input-text" placeholder="" name="mc_quantity" id="mc_quantity" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
				</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">会员卡简介：</label>
					<div class="formControls col-xs-7">
						<textarea  name="mc_content" id="mc_content" cols="" rows="" class="textarea"  placeholder="说点什么...400个字符以内" >[[${mc.mc_content}]]</textarea>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>课程价格：</label>
					<div class="formControls col-xs-7">
						<input type="text" th:value="${mc.mc_price}" class="input-text" placeholder="" name="mc_price" id="mc_price" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
				</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'equ-add'" th:remove="tag">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 场地设备管理 <span class="c-gray en">&gt;</span> 发布场地设备 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<article class="page-container">
			<form class="form form-horizontal" id="form-equ-add" action="/admin/addEqu"method="post"  enctype="multipart/form-data">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>名称：</label>
					<div class="formControls col-xs-7">
						<input type="text" class="input-text" placeholder="" name="equ_name" id="equ_name" required="required">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">总数量：</label>
					<div class="formControls col-xs-7">
					<input type="text"  class="input-text" placeholder="" name="equ_quantity" id="equ_quantity" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">需维修数量：</label>
					<div class="formControls col-xs-7">
						<input type="text"  class="input-text" placeholder="" name="equ_repairquantity" id="equ_repairquantity" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>简介：</label>
					<div class="formControls col-xs-7">
						<input type="text" class="input-text" placeholder="" name="equ_content" id="equ_content" >
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">[[${msg}]]
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'equ-edit'" th:remove="tag">
	<article class="page-container">
			<form class="form form-horizontal" id="form-equ-edit" enctype="multipart/form-data" action="/admin/updateEqu" method="post">
				<input type="hidden"  th:value="${equ.equ_id}" id="equ_id" name="equ_id">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>名称：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${equ.equ_name}" id="equ_name" name="equ_name">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">总数量：</label>
					<div class="formControls col-xs-7">
							<input type="text" th:value="${equ.equ_quantity}" class="input-text" placeholder="" name="equ_quantity" id="equ_quantity" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
				</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>需维修数量：</label>
					<div class="formControls col-xs-7">
						<input type="text" th:value="${equ.equ_repairquantity}" class="input-text" placeholder="" name="equ_repairquantity" id="equ_repairquantity" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
				</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>简介：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${equ.equ_content}" id="equ_content" name="equ_content">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'coa-add'" th:remove="tag">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 教练管理 <span class="c-gray en">&gt;</span> 发布教练 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<article class="page-container">
			<form class="form form-horizontal" id="form-coa-add" action="/admin/addCoach"method="post"  enctype="multipart/form-data">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>名称：</label>
					<div class="formControls col-xs-7">
						<input type="text" class="input-text" placeholder="" name="coach_name" id="coach_name" required="required">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">性别：</label>
					<div class="formControls col-xs-7">
					<input type="text" class="input-text" placeholder="" name="coach_sex" id="coach_sex" required="required">
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">手机：</label>
					<div class="formControls col-xs-7">
						<input type="text"  class="input-text" placeholder="" name="coach_mobile" id="coach_mobile" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
					</div>
				</div>
<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">微信：</label>
					<div class="formControls col-xs-7">
					<input type="text" class="input-text" placeholder="" name="coach_wechat" id="coach_wechat" >
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">QQ：</label>
					<div class="formControls col-xs-7">
					<input type="text" class="input-text" placeholder="" name="coach_qq" id="coach_qq" >
					</div>
				</div>
<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">特长：</label>
					<div class="formControls col-xs-7">
					<input type="text" class="input-text" placeholder="" name="coach_expert" id="coach_expert" required="required">
					</div>
				</div>
					<div class="row clearfix">
							<label class="form-label col-xs-3"><span class="c-red">*</span>所授课程：</label>
							<div class="formControls col-xs-7">
								<div class="row clearfix" style="margin-top:0">
									<div class="col-xs-6">
										<span class="select-box">
											<select class="select" size="1"   id="ch_id" name="classHour.ch_id" >
												<option value="-1" selected>- - - 请选择课程 - - -</option>
											 <th:block th:each="ch,chStat : ${ch}">
													<option th:value="${ch.ch_id}">[[${ch.ch_type}]]</option>
											 </th:block>
											</select>
										</span>
									</div>
								</div>
							</div>
						</div>
				 <HR  width="80%" color=#987cb9 SIZE=10>
										<div class="row cl" id="chch">

										</div>
				 <HR  width="80%" color=#987cb9 SIZE=10>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>简介：</label>
					<div class="formControls col-xs-7">
						<input type="text" class="input-text" placeholder="" name="coach_resume" id="coach_resume" >
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">[[${msg}]]
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'coa-edit'" th:remove="tag">
	<article class="page-container">
			<form class="form form-horizontal" id="form-coa-edit" enctype="multipart/form-data" action="/admin/updateCoach" method="post">
				<input type="hidden"  th:value="${coa.coach_id}" id="coach_id" name="coach_id">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>名称：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${coa.coach_name}" id="coach_name" name="coach_name">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${coa.coach_sex}" id="coach_sex" name="coach_sex">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">手机：</label>
					<div class="formControls col-xs-7">
							<input type="text" th:value="${coa.coach_mobile}" class="input-text" placeholder="" name="coach_mobile" id="coach_mobile" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
				</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>微信：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${coa.coach_wechat}" id="coach_wechat" name="coach_wechat">
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>QQ：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${coa.coach_qq}" id="coach_qq" name="coach_qq">
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>特长：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${coa.coach_expert}" id="coach_expert" name="coach_expert">
					</div>
				</div>
					<div class="row clearfix">
							<label class="form-label col-xs-3"><span class="c-red">*</span>所授课程：</label>
							<div class="formControls col-xs-7">
								<div class="row clearfix" style="margin-top:0">
									<div class="col-xs-6">
										<span class="select-box">
											 <span th:if="${msg} eq 1 " th:remove="tag">
											<select class="select" size="1"  id="ch_id" name="classHour.ch_id">
												<option th:value="${coa.classHour.ch_id}" selected>[[${coa.classHour.ch_type}]]</option>
											 <th:block th:each="ch,chStat : ${ch}">
												 <span th:if="${ch.ch_id} ne ${coa.classHour.ch_id}" th:remove="tag">
													<option th:value="${ch.ch_id}">[[${ch.ch_type}]]</option>
												 </span>
												  </th:block>
											</select>
										     </span>
												  <span th:if="${msg} ne 1 " th:remove="tag">
	                  <div >
			                     <strong>id：</strong>[[${coa.classHour.ch_id}]]<br><strong>类型：</strong>[[${coa.classHour.ch_type}]]<br>
                              <strong style="color: red;">[[${msg}]]</strong>
		                </div>
												  </span>
											 </span>
									</div>

								</div>
							</div>
						</div>
				 <HR  width="80%" color=#987cb9 SIZE=10>
				<div class="col-xs-6">
										<div class="row cl" id="chch">
                             <strong>课程内容:</strong>[[${coa.classHour.ch_content}]]<br>
                             <strong>课程价格:</strong>[[${coa.classHour.ch_price}]]
										</div>
										</div>
				 <HR  width="80%" color=#987cb9 SIZE=10>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>简介：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${coa.coach_resume}" id="coach_resume" name="coach_resume">
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>
		</span>


<span th:if="${sb} eq 'm-edit'" th:remove="tag">
	<article class="page-container">
			<form class="form form-horizontal" id="form-m-edit" enctype="multipart/form-data" action="/admin/updateMember" method="post">
				<input type="hidden"  th:value="${m.member_id}" id="member_id" name="member_id">
					<input type="hidden"  th:value="${m.memberCard.mc_id}" id="mc_id" name="memberCard.mc_id">
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">会员账号：</label>
					<div class="formControls col-xs-7">
						<b>[[${m.user.user_id}]]</b>
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>名称：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${m.member_name}" id="member_name" name="member_name">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>性别：</label>
					<div class="formControls col-xs-7">
						<select class="select" size="1" name="member_sex" id="member_sex" style="width: 100px">
						<span th:if="${m.member_sex } eq '男'"  th:remove="tag">
							<option value="男"  selected="selected">男</option>
							<option value="女">女</option>
						</span>
						<span th:if="${m.member_sex } eq '女'"  th:remove="tag">
							<option value="男">男</option>
							<option value="女"  selected="selected">女</option>
						</span>
			</select>
					</div>
				</div>
					<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">出生日期：</label>
			<div class="formControls col-xs-7">
				<input type="date" th:value="${m.member_birthDate}"  name="member_birthDate" id="member_birthDate" >
			</div>
		</div>
					<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>身份证：</label>
		<div class="formControls col-xs-8">
			<b>[[${m.member_idcard}]]</b>
		</div>
	</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">手机：</label>
					<div class="formControls col-xs-7">
							<input type="text" th:value="${m.member_mobile}" class="input-text" placeholder="" name="member_mobile" id="member_mobile" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
				</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">微信：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${m.member_wechat}" id="member_wechat" name="member_wechat">
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">QQ：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${m.member_qq}" id="member_qq" name="member_qq">
					</div>
				</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">住址：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${m.member_address}" id="member_address" name="member_address">
					</div>
				</div>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">备注：</label>
					<div class="formControls col-xs-7">
						<input type="text"  th:value="${m.member_resume}" id="member_resume" name="member_resume">
					</div>
				</div>
					<div class="row clearfix">
							<label class="form-label col-xs-3">私教课：</label>
							<div class="formControls col-xs-7">
								<div class="row clearfix" style="margin-top:0">
									<div class="col-xs-6">
										<span th:if="${msg} eq '有私教'" th:remove="tag">
											<b style="color: red">已有私教课：</b><br>
                                           <th:block th:each="ch,chStat : ${ch}">
											   [[${ch.ch_type}]]<br>
												  </th:block>
													 </span>
									</div>
								</div>
							</div>
						</div>
					<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>卡期限：</label>
					<div class="formControls col-xs-7">
						开始时间：<input type="date" th:value="${m.member_mcStart}"  name="member_mcStart" id="member_mcStart" >
						到期时间：<input type="date" th:value="${m.member_mcEnd}"  name="member_mcEnd" id="member_mcEnd" >
					</div>
				</div>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
					</div>
				</div>
			</form>
		</article>
		</span>

<span th:if="${sb} eq 'sm-add'" th:remove="tag">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 套餐管理 <span class="c-gray en">&gt;</span> 发布套餐 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<article class="page-container">
			<form class="form form-horizontal" id="form-sm-add" action="/admin/addSm" method="post"  enctype="multipart/form-data">
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>套餐名：</label>
					<div class="formControls col-xs-7">
						<input type="text" class="input-text" placeholder="" name="sm_name" id="sm_name" required="required">
					</div>
				</div>
<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>价格：</label>
					<div class="formControls col-xs-7">
									<input type="text"  class="input-text" placeholder="" name="sm_price" id="sm_price" required="required" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}">
				</div>
				</div>
					<div class="row clearfix">
							<label class="form-label col-xs-3"><span class="c-red">*</span>请选择课程：</label>
							<div class="formControls col-xs-7">
								<div class="row clearfix" style="margin-top:0">
									<div class="col-xs-6">
										  <th:block th:each="ch,chStat : ${ch}">
									<label><input name="classHourList" type="checkbox" th:value="${ch.ch_id}" />
									  <a href="javascript:void(0);" title="查看课程内容" th:onclick="'ch_show(\'课程详细信息\',\'/admin/toShowCh?member_id=0&ch_id='+${ch.ch_id}+'\',\'10001\',\'\',\'400\')'" class="ml-5" style="text-decoration:none">
						  [[${ch.ch_type}]]
						</a>
									</label><br>
										  </th:block>
									</div>
								</div>
							</div>
						</div>
<div class="row clearfix">
							<label class="form-label col-xs-3"><span class="c-red">*</span>包含的会员卡：</label>
							<div class="formControls col-xs-7">
								<div class="row clearfix" style="margin-top:0">
									<div class="col-xs-6">
										<span class="select-box">
											<select class="select" size="1"   id="mc_id" name="memberCard.mc_id" >
												<option value="-1" selected>- - - 请选择会员卡 - - -</option>
											 <th:block th:each="mc,mcStat : ${mc}">
													<option th:value="${mc.mc_id}">[[${mc.mc_content}]]</option>
											 </th:block>
											</select>
										</span>
									</div>
								</div>
							</div>
						</div>
				<HR  width="80%" color=#987cb9 SIZE=10>
				<div class="row cl">
					<label class="form-label col-xs-4 col-sm-3">会员卡详情：</label>
					<div class="formControls col-xs-7">
										<div  id="mcmc">

										</div>
				 <HR  width="80%" color=#987cb9 SIZE=10>
				<div class="row cl">
					<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
						<input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">[[${msg}]]
					</div>
				</div>
			</form>
		</article>
		</span>


</body>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<!--请在下方写此页面业务相关的脚本-->
<script>
	$(function(){
	//通知表单
	$("#form-inform-add").validate({
		rules:{
			inform_title:{
				required:true,
				maxlength:30
			},
			inform_content:{
				required:true,
			},
			member_id:{
				required:true,
			},
		},
	});
        //活动表单
        $("#form-activity-add").validate({
            rules:{
                act_name:{
                    required:true,
                    maxlength:30
                },
                act_content:{
                    required:true,
                },
                coach_id:{
                    required:true,
                },
            },
        });
	//公告表单
	$("#form-notice-edit").validate({
		rules:{
			notice_title:{
				required:true,
				maxlength:30
			},
			notice_content:{
				required:true,
			},
		},
	});
        //课程表单修改
        $("#form-classHour-edit").validate({
            rules:{
                ch_type:{
                    required:true,
                    maxlength:30
                },
                ch_content:{
                    required:true,
                },
                ch_price:{
                    required:true,
                    isDigits : true
                },
            },
        });
        //课程表单添加
        $("#form-classHour-add").validate({
            rules:{
                ch_type:{
                    required:true,
                    maxlength:30
                },
                ch_content:{
                    required:true,
                },
                ch_price:{
                    required:true,
                    isDigits : true
                },
            },
        });
        //会员卡表单修改
        $("#form-memberCard-edit").validate({
            rules:{
                mc_quantity:{
                    required:true,
                    isDigits : true
                },
                mc_content:{
                    required:true,
                },
                mc_price:{
                    required:true,
                    isDigits : true
                },
            },
        });
        //会员卡表单添加
        $("#form-memberCard-add").validate({
            rules:{
                mc_quantity:{
                    required:true,
                    isDigits : true
                },
                mc_content:{
                    required:true,
                },
                mc_price:{
                    required:true,
                    isDigits : true
                },
            },
        });
        //equ表单修改
        $("#form-equ-edit").validate({
            rules:{
                equ_name:{
                    required:true,
                },
                equ_quantity:{
                    required:true,
                    isDigits : true
                },
                equ_repairquantity:{
                    required:true,
                    isDigits : true
                },
            },
        });
        //equ表单添加
        $("#form-equ-add").validate({
            rules:{
                equ_name:{
                    required:true,
                },
                equ_quantity:{
                    required:true,
                    isDigits : true
                },
                equ_repairquantity:{
                    required:true,
                    isDigits : true
                },
            },
        });
        //coa表单修改
        $("#form-coa-edit").validate({
            rules:{
                coach_name:{
                    required:true,
                },
                coach_sex:{
                    required:true,
                },
                coach_mobile:{
                    required:true,
                    isDigits : true
                },
                coach_expert:{
                    required:true,
                },
                coach_resume:{
                    required:true,
                },
                ch_id:{
                    required:true,
                },
            },
        });
        //coa表单添加
        $("#form-coa-add").validate({
            rules:{
                coach_name:{
                    required:true,
                },
                coach_sex:{
                    required:true,
                },
                coach_mobile:{
                    required:true,
                    isDigits : true
                },
                coach_expert:{
                    required:true,
                },
                coach_resume:{
                    required:true,
                },
                ch_id:{
                    required:true,
                },
            },
        });
        //coa表单修改
        $("#form-m-edit").validate({
            rules:{
                member_name:{
                    required:true,
                },
                member_sex:{
                    required:true,
                },
                member_birthDate:{
                    required:true,
                },
                coach_mobile:{
                    required:true,
                    isDigits : true
                },
            },
        });
        //选择会员
        $("select#mc_id").change(function(){
            var mc_id = $("#mc_id").val();
            $("#member_name option").remove();
            $("#member_name").append("<option value='-1' selected>---请选择接收人---</option>");
            $.ajax({
                url:"/inform/findMemberByMcId",
                data:"mc_id="+mc_id,
                type:"post",
                dataType:"json",
                //contentType: "application/json;charset=UTF-8",
                success: function(data,textStatus){
                    $.each(data,function(n,value){
                        var str = "<option value='"+ value.member_id +"' >"+ value.member_name +" </option>";
                        $("#member_name").append(str);
                    });
                },
                error: function(data){
                    layer.alert("第几回报错了~");
                }
            });
        });
        //选择教练
        $("select#coach_expert").change(function(){
            var coach_expert = $("#coach_expert").val();
            $("#coach_name option").remove();
            $("#coach_name").append("<option value='-1' selected>---请选择教练---</option>");
            $.ajax({
                url:"/activity/findCoachByCoaExpert",
                data:"coach_expert="+coach_expert,
                type:"post",
                dataType:"json",
                //contentType: "application/json;charset=UTF-8",
                success: function(data,textStatus){
                    $.each(data,function(n,value){
                        var str = "<option value='"+ value.coach_id +"' >"+ value.coach_name +" </option>";
                        $("#coach_name").append(str);
                    });
                },
                error: function(data){
                    layer.alert("第几回报错了~");
                }
            });
        });
        //选择课程
        $("select#ch_id").change(function(){
            var ch_id = $("#ch_id").val();
            $("div#chch").html("");
            $.ajax({
                url:"/admin/findChById",
                data:"ch_id="+ch_id,
                type:"post",
                dataType:"json",
                //contentType: "application/json;charset=UTF-8",
                success: function(data,textStatus){
                    var str="";
                        str +="<strong>课程内容:</strong>"+data.ch_content+"<br>" +
                            "<strong>课程价格:</strong>"+data.ch_price;
                    $("div#chch").html(str);
                },
                error: function(data){
                    layer.alert("第几回报错了~");
                }
            });
        });
        //等待3秒退出
        function webpageClose() {
            setTimeout(function() {
                parent.layer.close();
                parent.location.reload();
            }, 3000);
        }
        //密码修改
        $("#form-user-passwordEdit").validate({
            rules:{
                user_pwd:{
                    required:true,
                    minlength : 6,
                    maxlength : 15
                },
                password:{
                    required:true,
                    equalTo: "#user_pwd"
                }
            },
            messages: {
                password : {
                    equalTo : "两次输入的密码不一致！",
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "/user/updateUserPassword" ,
                    dataType:"text",
                    async: false,
                    success: function(data){
                        if(data=="1"){
                            layer.confirm('修改成功！', {
                                btn: ['确定']
                            },  function(){
                                parent.layer.close();
                                parent.location.reload();
                            });
                        }else layer.alert("修改失败！");
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.alert("修改失败！");
                    }
                });
            }
        });
        /*留言详细信息-查看*/
        message_show=function (title, url, id, w, h) {
            layer_show(title, url, w, h);
        }
         /* 课程详情*/
        ch_show=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        //选择会员卡
        $("select#mc_id").change(function(){
            var mc_id = $("#mc_id").val();
            $("div#mcmc").html("");
            $.ajax({
                url:"/admin/findMcById",
                data:"mc_id="+mc_id,
                type:"post",
                dataType:"json",
                //contentType: "application/json;charset=UTF-8",
                success: function(data,textStatus){

                    var str="";
                    str +="<strong>会员卡天数: </strong>"+data.mc_quantity+"天<br>" +
                        "<strong>会员卡价格:</strong>"+data.mc_price+"元";
                    $("div#mcmc").html(str);
                },
                error: function(data){
                    layer.alert("第几回报错了~");
                }
            });
        });
$("#form-sm-add").submit(function(){
    $("input:checkbox[name='classHourList']:checked").each(function(i){
        $(this).attr('name','classHourList['+i+'].ch_id');
    });
    //var newUrl = "/admin/addSm";    //设置新提交地址
   // $("#myform").attr('action',newUrl);    //通过jquery为action属性赋值
    //$("#myform").submit();    //提交ID为myform的表单
});

	});
</script>
</html>