<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
<!--[if lt IE 9]-->
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<!-- [endif]-->
<link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />

	<link rel="stylesheet" href="/css/index.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
<!--[if IE 6]-->
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<!--[endif]-->
<title>详情</title>
	<script >
		$(document).ready(function() {
			//刚开始时显示可选时间段
			var startTime = $("#startTime").val();
			var endTime = $("#endTime").val();
			var arr = [];
			$("input#temp").each(function () {
				arr.push($(this).val());
				alert($(this).val());
			});
			getDisable(startTime, endTime, arr);

			//拿到时间段
			function stringToDate(dateStr,separatorone,separatortwo){
				var dateArr = dateStr.split(separatorone);
				var first = dateArr[0];
				 dateArr=first.split(separatortwo);
				/*
				if(!separator){
					separator=":";
				}
				var year = parseInt(dateArr[0]);
				var month;
				if(dateArr[1].indexOf("0") == 0){
					month = parseInt(dateArr[1].substring(1));
				}else{
					month = parseInt(dateArr[1]);
				}
				var day = parseInt(dateArr[2]);
				var date = new Date(year,month -1,day);
				*/
				return dateArr;
			}
         //刚开始时显示可选时间段
			var box1,box2;
			$('.date_').click(function() {
				$('.date_').removeClass('checked');
				$(this).addClass('checked');
				var ca_startTime=$(this).val();
				alert("拿到选择的日期:"+ca_startTime);
				var coachid = $('#coachid').val();
				var chid = $('#chid').val();
				alert("教练id"+coachid+"课时id"+chid);
				var param = {};
				param["ca_startTime"] = ca_startTime;
				param["coach_id"] = coachid;
				var ch = {};
				ch["ch_id"]=chid;
				param["classHour"] = ch;
				var json = JSON.stringify(param);
				$.ajax({
					type: "POST",                           //传数据的方式
					url: "/coach/toTime",
					data: json, //servlet地址
					contentType: "application/json;charset=UTF-8",
					dataType: "json",
					success: function (data) {  //传数据成功之后的操作   result是servlet传过来的数据  这个函数对result进行处理，让它显示在 输入框中
						if (data.ca_endTime != 0) {
							var dateArrOne = stringToDate(data.ca_startTime,":"," ");
							var dateArrTwo = stringToDate(data.ca_endTime,":"," ");
							alert("最小时间段：" + dateArrOne[1] + "最大时间段：" + dateArrTwo[1]+"temp:"+data.temp);
							getDisable(dateArrOne[1], dateArrTwo[1],data.temp);
						}
						else{
							getDisable(0,0,null);
						}
					},
					error:function(data){
						alert("一般不会出现");
					}
				});
			});
              //选择连续两个时间段
				$(".slot_").on("click", function () {
					var $this = $(this);
					var $boxes = $this.parent().children();
					if ($this.hasClass('disable'))
						return;
					if (!box1) {
						// 点击第一个盒子的时候清空所有box的checked状态
						// 移除之前存储的box2变量
						// 只给当前盒子增加checked
						box1 = $this;
						$boxes.removeClass('checked');
						$this.addClass('checked');
						box2 = null;
					} else if (!box2) {
						// 点击第二个盒子的时候
						// 计算从哪个盒子开始到哪个盒子结束需要增加checked状态
						box2 = $this;
						var box1Index = box1.index();
						var box2Index = box2.index();
						// 这里从“第一个盒子”、“第二个盒子”的概念切换到“开始盒子”和“结束盒子”
						var startBoxIndex = Math.min(box1Index, box2Index);
						var endBoxIndex = Math.max(box1Index, box2Index);
						// 重复点击第一个盒子时，不计算为第二个盒子
						if (startBoxIndex === endBoxIndex) {
							box2 = null;
						}
						// 开始盒子和结束盒子之间所有的盒子
						var $startEndBoxRange = $boxes.filter(function () {
							var index = $(this).index();
							return index >= startBoxIndex && index <= endBoxIndex;
						});
                        //是否有disable
						var $disableBoxes = $startEndBoxRange.filter(function () {
							return $(this).hasClass('disable');
						});
						// 用户选择的区间是否包含禁用的盒子
						if ($disableBoxes.length) {
							// 包含禁用盒子则提示，并重置第二盒子
							alert('disabled in range');
							box2 = null;
						} else {
							// 不包含禁用盒子
							$boxes.removeClass('checked');
							$startEndBoxRange.addClass('checked');
							// 到这里用户选择完了开始和结束区间
						}
					} else {
						// 当已经选择了第二个盒子后重新点击，意味着刚才选过的一系列盒子作废
						// 用户期望重新选择盒子区间
						// 和选择第一个盒子后的逻辑相同
						box1 = $this;
						$boxes.removeClass('checked');
						$this.addClass('checked');
						box2 = null;
					}
				});
                     //预约教练
				$("#submitOrder").on('click',function(event){
					if(box1 && box2){
						var startTime = parseInt(box1.attr("value"));
						var endTime = parseInt(box2.attr("value"));
						if(startTime && endTime) {
                            var s1 = startTime;
                            var s2 = endTime;
                            if (s1 > s2) {
                                var temp = s1;
                                s1 = s2;
                                s2 = temp;
                            }
							alert("开始时间:" + s1 + "结束时间:" + s2);
                            if (s2-s1>1){
                            	if((!(s1==11&&s2==14))) {
                                    if((!(s1==16&&s2==19))) {
                                        layer.confirm('抱歉!为了会员更高效的预约教练,每次只能选择连续两个课时预约,请重新预约,给您带来不便,请谅解.', {
                                            btn: ['确定']
                                        });
                                        $('.slot_').removeClass('checked');
                                        return;
                                    }
								}
                        }
							if(s1==9){s1="0"+s1;}
							if(s2==9){s2="0"+s2;}
							/*教练-预约*/
							var time =$('.checked.date_').val();
							s1=time+" "+s1+":00:00";
							s2=time+" "+s2+":00:00";
							alert("预约开始时间是:"+s1+"结束时间是:"+s2);
							var ca_startTime=s1;
							var ca_endTime=s2;
							var chid = $('#chid').val();
							var coachid = $('#coachid').val();
							alert("教练id:"+coachid + "课时id:"+chid);
							var ch = {};
							ch["ch_id"]=chid;
							var param = {};
							param["classHour"] = ch;
							param["ca_startTime"] = ca_startTime;
							param["ca_endTime"] = ca_endTime;
							param["coach_id"] = coachid;
							var json = JSON.stringify(param);
							$.ajax({
								type: "POST",                           //传数据的方式
								url: "/coach/toCoachAppointWeb",
								data: json, //servlet地址
								contentType: "application/json;charset=UTF-8",
								dataType: "json",
								success: function (data) {  //传数据成功之后的操作   result是servlet传过来的数据  这个函数对result进行处理，让它显示在 输入框中
									if (data == -2) {
										layer.confirm('你没有该课时！', {
											btn: ['确定']
										}, function () {
											window.location.href = "/coach/findUpCoachWeb";
										});
									} else if (data == -1) {
										layer.confirm('你没有任何课时，如需预约教练，请购买套餐！', {
											btn: ['确定']
										}, function () {
											window.location.href = "/coach/findUpCoachWeb";
										});
									} else if (data==-3){
										layer.confirm('你选择的部分或全部的时间段你已经有预约，请选择其他时间段预约！', {
											btn: ['确定']
										});
									}else {
										layer.confirm('预约成功！', {
											btn: ['确定']
										}, function () {
											window.location.href = "/coach/toAppointWeb?ch_id="+chid*1+"&coach_id="+coachid*1;;
										});
										/*
                                        var newUrl = "/pay/AliPay";    //设置新提交地址
                                        $("#myform").attr('action',newUrl);    //通过jquery为action属性赋值
                                        $("#myform").submit();    //提交ID为myform的表单
                                           */
									}
								}
							});
						}else{
							alert("请选择预约时间");
						}
					}else{
						alert("请选择两个时间点");
					}
				});
            //获得未来六天的星期
			function getDay() {
				var str = "(明天)星期";
				var str1 = "(后天)星期";
				var str2 = "星期";
				var str3 = "星期";
				var str4 = "星期";
				var str5 = "星期";
				var week = new Date().getDay();
				switch (week) {
					case 0 :
						str += "一";
						str1 += "二";
						str2 += "三";
						str3 += "四";
						str4 += "五";
						str5 += "六";
						break;
					case 1 :
						str += "二";
						str1 += "三";
						str2 += "四";
						str3 += "五";
						str4 += "六";
						str5 += "日";
						break;
					case 2 :
						str += "三";
						str1 += "四";
						str2 += "五";
						str3 += "六";
						str4 += "日";
						str5 += "一";
						break;
					case 3 :
						str += "四";
						str1 += "五";
						str2 += "六";
						str3 += "日";
						str4 += "一";
						str5 += "二";
						break;
					case 4 :
						str += "五";
						str1 += "六";
						str2 += "日";
						str3 += "一";
						str4 += "二";
						str5 += "三";
						break;
					case 5 :
						str += "六";
						str1 += "日";
						str2 += "一";
						str3 += "二";
						str4 += "三";
						str5 += "四";
						break;
					case 6 :
						str += "日";
						str1 += "一";
						str2 += "二";
						str3 += "三";
						str4 += "四";
						str5 += "五";
						break;
				}
				var strs=[str,str1,str2,str3,str4,str5];
				return strs;
			}
     //获得未来6天的日期
			function getTime() {
				//今天的时间
				var time = new Date();
				time.setTime(time.getTime());
				var s = time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + time.getDate();
				//明天的时间
				var time1 = new Date();
				time1.setTime(time1.getTime() + 24 * 60 * 60 * 1000);
				var s1 = time1.getFullYear() + "-" + (time1.getMonth() + 1) + "-" + time1.getDate();
				//后天的时间
				var time2 = new Date();
				time2.setTime(time2.getTime() + 2*24 * 60 * 60 * 1000);
				var s2 = time2.getFullYear() + "-" + (time2.getMonth() + 1) + "-" + time2.getDate();
				//天的时间
				var time3 = new Date();
				time3.setTime(time3.getTime() + 3*24 * 60 * 60 * 1000);
				var s3 = time3.getFullYear() + "-" + (time3.getMonth() + 1) + "-" + time3.getDate();
				//天的时间
				var time4 = new Date();
				time4.setTime(time4.getTime() + 4*24 * 60 * 60 * 1000);
				var s4 = time4.getFullYear() + "-" + (time4.getMonth() + 1) + "-" + time4.getDate();
				//天的时间
				var time5 = new Date();
				time5.setTime(time5.getTime() + 5*24 * 60 * 60 * 1000);
				var s5 = time5.getFullYear() + "-" + (time5.getMonth() + 1) + "-" + time5.getDate();
				//天的时间
				var time6 = new Date();
				time6.setTime(time6.getTime() + 6*24 * 60 * 60 * 1000);
				var s6 = time6.getFullYear() + "-" + (time6.getMonth() + 1) + "-" + time6.getDate();
				var times=[s1,s2,s3,s4,s5,s6];
				return times;
			}
			//显示disable和used
			function getDisable(st,et,temp=[]) {
                var $this = $(".slot_");
                var $boxes = $this.parent().children();
                $boxes.removeClass('disable');
			    if(st==0&&et==0){
                    layer.confirm('这天还没有人预约!', {
                        btn: ['确定']
                    });
                    return;
                }
					var st=st*1;
					var et=et*1;
                var i=0;
				alert("第一次：i:"+i+"st:"+st+"et:"+et);
				switch (st) {
					case 9 :
						i = st;
						break;
					case 10 :
						i = st;
						break;
					case 11 :
						i = st;
						break;
					case 12 :
						i = st;
						break;
					case 14 :
						i = st;
						break;
					case 15 :
						i = st;
						break;
					case 16 :
						i = st;
						break;
					case 17 :
						i = st;
						break;
					case 19 :
						i = st;
						break;
					case 20 :
						i = st;
						break;
					case 21 :
						i = st;
						break;
				}
				for (; i <=et; i++) {
					$("#" + i).addClass('disable');
				}
				alert("第二次：i:"+i+"st:"+st+"et:"+et);
				i=0;
				if(temp!=null) {
                    temp.map(Number);
                    while (i < temp.length) {
                        $("#" + temp[i]).removeClass('disable');
                        i++;
                    }
                }
			}
				//前端显示日期和星期
				window.onload = function () {
					var arrvalue;//用于存放取出的数组的值
					var arr = getDay();//星期
					for (var i = 0; i < arr.length; i++) {
						arrvalue = arr[i];//数组的索引是从0开始的
						$("#sj" + i).text(arrvalue);
						console.log(arrvalue);//把取出的值打印在控制台上
					}
					arr = getTime();//日期如：2019-9-1
					var html;
					for (i = 0; i < arr.length; i++) {
						arrvalue = arr[i];//数组的索引是从0开始的
						html = $("#sj" + i).text();
						html += '<span>' + arrvalue + '</span>';
						$("#sj" + i).html(html);
						$("#sj" + i).val(arrvalue);
						//console.log(arrvalue);//把取出的值打印在控制台上
					}
				}

		});
	</script>
</head>
<body>
<div class="pd-30">
	<table class="table table-border table-bordered table-bg mt-5">


      <span th:if="${sb} eq 'coach'" th:remove="tag">
		  <!--
		  <form action="" method="post" id="myform">
<input type="hidden" th:value="${coachClassHour.classHour.ch_id}" name="ch_id" id="ch_id">
<input type="hidden" th:value="${coachClassHour.member_id}" name="member_id" id="member_id">
<input type="hidden" th:value="${coachClassHour.coach_id}" name="coach_id" id="coach_id">
<input type="hidden" th:value="${coachClassHour.ca_startTime}" name="ca_startTime" id="ca_startTime">
<input type="hidden" th:value="${coachClassHour.ca_endTime}" name="ca_endTime" id="ca_endTime">
</form>
-->
		  <div class="office">
    <!--预约时间-->
    <div class="weui-panel">
        <div class="office-time">
            <h4>请选择预约日期</h4>
            <p>只可提前预约最近6天</p>
            <div class="office-time-con office-time-data">
                <div class="checked office-time-item date_"  id="sj0"></div>
                <div class="office-time-item date_"  id="sj1"></div>
                <div class="office-time-item date_"  id="sj2"></div>
                <div class="office-time-item date_"  id="sj3"></div>
                <div class="office-time-item date_"  id="sj4"></div>
                <div class="office-time-item date_"  id="sj5"></div>
            </div>
        </div>
    </div>
			  <!--预约时段-->
    <div class="weui-panel">
        <div class="office-time">
            <h4>请选择预约时段</h4>
            <p style="color: red;">每次选择一个课时,即连续的两个时段。</p>
			 <p style="color: red;">如:9:00时段表示:9:00~9:59。</p>
            <div class="office-time-legend">
                <div class="office-time-legend-item">
                    <div class="legend-img used"></div>
                    <div class="legend-text">可选</div>
                </div>
                <div class="office-time-legend-item">
                    <div class="legend-img disabled"></div>
                    <div class="legend-text">已预订</div>
                </div>
                <div class="office-time-legend-item">
                    <div class="legend-img checked"></div>
                    <div class="legend-text">已选</div>
                </div>
            </div>
            <div class="office-time-con office-time-slot" id="timeSoltCon">
				<div class="office-time-item slot_" id="9" value="9" data-time="9">9:00</div>
                <div class="office-time-item slot_" id="10" value="10" data-time="10">10:00</div>
                <div class="office-time-item slot_" id="11" value="11" data-time="11">11:00</div>
                <div class="office-time-item slot_ " id="14" value="14" data-time="14">14:00</div>
                <div class="office-time-item slot_ " id="15" value="15" data-time="15">15:00</div>
                <div class="office-time-item slot_ " id="16" value="16" data-time="16">16:00</div>
                <div class="office-time-item slot_" id="19" value="19" data-time="19">19:00</div>
                <div class="office-time-item slot_" id="20" value="20" data-time="20">20:00</div>
            </div>

        </div>
    </div>

    <div class="weui-btn-area">
        <a class="weui-btn weui-btn_main" href="javascript:void(0);" id="submitOrder" >立即预约</a>
		<input type="hidden" th:value="${ch_id}" id="chid">
		   <input type="hidden" th:value="${coach_id}" id="coachid">
		  <input type="hidden" th:value="${startTime}" id="startTime">
		  <input type="hidden" th:value="${endTime}" id="endTime">
       <div  th:each="t:${temp}" >
		    <input type="hidden" th:value="${t}" id="temp">
	   </div>
    </div>
</div>
	  </span>


		 <span th:if="${sb} eq 'activity'" th:remove="tag">
		<thead>
		<tr>
			<th colspan="2" scope="col">活动详情</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="15%">活动标题</th>
			<td  th:text="${act.act_name}"></td>
		</tr>
		<tr>
			<th width="15%">教练</th>
			<td th:text="${act.coach.coach_name}+',性别：'+${act.coach.coach_sex}"></td>
		</tr>

		<tr>
			<th width="15%">教练特长</th>
			<td th:text="${act.coach.coach_expert}"></td>
		</tr>
		<tr>
			<th width="15%">教练简介</th>
			<td ><textarea rows="" cols=""  class="textarea" readonly="readonly"  th:text="${act.coach.coach_resume}"></textarea></td>
		</tr>
		<tr>
			<th >活动内容</th>
			<td><textarea rows="" cols=""  class="textarea" readonly="readonly"  th:text="${act.act_content}"></textarea></td>
		</tr>
		<tr>
			<th>活动时间</th>
			<td th:text="${act.act_time}"></td>
		</tr>
		</tbody>
		 </span>


		<span th:if="${sb} eq 'facilityequipment'" th:remove="tag">
			<thead>
									<tr>
										<th colspan="2" scope="col">场地设备详情</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th width="15%" >名称</th>
										<td th:text="${equ.equ_name}"></td>
									</tr>
									<tr>
										<th >描述</th>
										<td><textarea rows="" cols=""  class="textarea" readonly="readonly" th:text="${equ.equ_content}"></textarea></td>
									</tr>
								</tbody>
		</span>


		<span th:if="${sb} eq 'notice'" th:remove="tag">
          <thead>
				<tr>
					<th colspan="2" scope="col">公告详情</th>
				</tr>
			</thead>
		<tbody>
			<tr>
				<th width="80">发布人：</th>
				<td>[[${notice.admin.admin_name}]]</td>
			</tr>
			<tr>
				<th width="80">公告标题：</th>
				<td>[[${notice.notice_title}]]</td>
			</tr>
			<tr>
				<th width="80">公告内容：</th>
				<td><textarea cols="" rows="" readonly="readonly" class="textarea">[[${notice.notice_content}]]</textarea></td>
			</tr>
			<tr>
				<th width="80">时间：</th>
				<td>[[${notice.notice_date}]]</td>
			</tr>
			  <span th:if="${not #strings.isEmpty(notice.notice_file)}" th:remove="tag">
			<tr>
				<th width="80">相关附件：</th>
				<td>
					<a title="下载附件" th:href="'/notice/downloadNoticeFile?notice_file='+${notice.notice_file}" class="ml-5" style="text-decoration:none">[[${notice.notice_file}]]</a>
				</td>
			</tr>
			  </span>
		</tbody>
		</span>

		<span th:if="${sb} eq 'inform'" th:remove="tag">
		<thead>
		<tr>
			<th colspan="2" scope="col">通知详情</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="80">发送方：</th>
			<td>[[${inform.admin.admin_name}]]</td>
		</tr>
		<tr>
			<th width="80">主题：</th>
			<td>[[${inform.inform_title}]]</td>
		</tr>
		<tr>
			<th width="80">发送时间：</th>
			<td>[[${inform.inform_time}]]</td>
		</tr>
		<tr>
			<th width="80">通知内容：</th>
			<td><textarea cols="110" rows="10" readonly="readonly" class="textarea">[[${inform.inform_content}]]</textarea></td>
		</tr>
		<tr>
			 <span th:if="${not #strings.isEmpty(inform.inform_file)}" th:remove="tag">
				<th width="80">相关附件：</th>
				<td>
					<a title="下载附件"  th:href="'/inform/downloadInformFile?inform_file='+${inform.inform_file}" class="ml-5" style="text-decoration:none">[[${inform.inform_file}]]</a>
				</td>
			 </span>
		</tr>
		</tbody>
		</span>

		<span th:if="${sb} eq 'message'" th:remove="tag">
		<thead>
		<tr>
			<th colspan="2" scope="col">留言详情</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="80">学号：</th>
			<td>[[${message.member.user.user_id}]]</td>
		</tr>
		<tr>
			<th width="80">会员：</th>
			<td>[[${message.member.member_name}]]</td>
		</tr>
		<tr>
			<th width="80">留言主题：</th>
			<td>[[${message.mes_title}]]</td>
		</tr>
		<tr>
			<th width="80">留言内容：</th>
			<td><textarea cols="" rows="" readonly="readonly" class="textarea">[[${message.mes_content}]]</textarea></td>
		</tr>
		<tr>
			<th width="80">留言时间：</th>
			<td>[[${message.mes_time}]]</td>
		</tr>
		</tbody>
		</span>


		<span th:if="${sb} eq 'mc'" th:remove="tag">
		<thead>
		<tr>
			<th colspan="2" scope="col">会员卡详情</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="80">id：</th>
			<td>[[${mc.mc_id}]]</td>
		</tr>
		<tr>
			<th width="80">天数：</th>
			<td>[[${mc.mc_quantity}]]</td>
		</tr>
		<tr>
			<th width="80">类型：</th>
			<td>[[${mc.mc_content}]]</td>
		</tr>
		<tr>
			<th width="80">价格：</th>
			<td>[[${mc.mc_price}]]元</td>
		</tr>
		</tbody>
		</span>


		<span th:if="${sb} eq 'ch'" th:remove="tag">
		<thead>
		<tr>
			<th colspan="2" scope="col">私教详情</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="80">id：</th>
			<td>[[${ch.ch_id}]]</td>
		</tr>
		<tr>
			<th width="80">类型：</th>
			<td>[[${ch.ch_type}]]</td>
		</tr>
		<tr>
			<th width="80">内容：</th>
			<td>[[${ch.ch_content}]]</td>
		</tr>
		<tr>
			<th width="80">价格：</th>
			<td>[[${ch.ch_price}]]元</td>
		</tr>
		<span th:if="${msg} ne '会员查看课时详情'" th:remove="tag">
			<tr>
			<th width="80">会员剩余课时：</th>
				<td>|<b style="color:red;">提示：每课时等于两个时段</b>|<br>[[${mch.mch_remainingQuantity}]]课时</td>
		</tr>
		<tr>
			<th width="80">私教是否可用：</th>
			<td th:if="${mch.mch_state} eq 1"><b style="color:red;">可用</b></td>
			<td th:if="${mch.mch_state} eq 0"><b style="color:red;">不可用（该会员没有购买会员卡）</b></td>
		</tr>
			</span>
		</tbody>
		</span>

		<span th:if="${sb} eq 'sm'" th:remove="tag">
		<thead>
		<tr>
			<th colspan="2" scope="col">套餐详情</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<th width="80">id：</th>
			<td>[[${sm.sm_id}]]</td>
		</tr>
		<tr>
			<th width="80">类型：</th>
			<td>[[${sm.sm_name}]]</td>
		</tr>
		<tr>
			<th width="80">会员卡id：</th>
			<td>[[${sm.memberCard.mc_id}]]</td>
		</tr>
		<tr>
			<th width="80">价格：</th>
			<td>[[${sm.sm_price}]]元</td>
		</tr>
		</tbody>
		</span>

		</table>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<!--请在下方写此页面业务相关的脚本-->
</body>
</html>