<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]-->
<script type="text/javascript" src="/lib/html5shiv.js"></script>
<script type="text/javascript" src="/lib/respond.min.js"></script>
<!-- [endif]-->
<link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />
<!--[if IE 6]-->
<script type="text/javascript" src="/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
	<script src="/js/jquery-2.1.4.min.js"></script>
<script>DD_belatedPNG.fix('*');</script>
<!--[endif]-->
<title>我的桌面</title>
</head>
<body>

<span th:if="${sb} eq 'welcome'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页  <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用城院健身房管理平台 <span class="f-14"> v1.4 </span></p>
</div>
<table class="table table-border table-bordered table-bg">
	<thead>
	<tr>
		<th colspan="8" scope="col">信息统计</th>
	</tr>
	<tr class="text-c">
		<th>统计</th>
		<th>教练</th>
		<th>用户</th>
		<th>会员</th>
		<th>管理员</th>
		<th>当前平台发布着的活动</th>
		<th>可用的场地设备</th>
		<th>有效的公告</th>
	</tr>
	</thead>
	<tbody>
	<tr class="text-c">
		<td>总数</td>
		<td>[[${coa}]]</td>
		<td>[[${u}]]</td>
		<td>[[${m}]]</td>
		<td>[[${ad}]]</td>
		<td>[[${ac}]]</td>
		<td>[[${fe}]]</td>
		<td>[[${n}]]</td>
	</tr>
	</tbody>
</table>
</span>

<span th:if="${sb} eq 'notice'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 公告管理 <span class="c-gray en">&gt;</span> 公告列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="30">公告ID</th>
				<th width="60">发布人</th>
				<th width="80">公告标题</th>
				<th width="80">发布时间</th>
				<th width="150">公告附件</th>
				<th width="40">公告状态</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
		   <th:block th:each="n,noticeStat : ${notice}">
				<tr class="text-c">
					<td>[[${n.notice_id}]]</td>
					<td>[[${n.admin.admin_name}]]</td>
					<td><a href="javascript:;" title="查看公告详情" th:onClick="'notice_show(\'公告详细信息\',\'/notice/toShowNotice?notice_id='+${n.notice_id}+'\',\'10001\',\'\',\'350\')'" class="ml-5" style="text-decoration:none">
						[[${n.notice_title}]]
					</a>
					</td>
					<td>[[${n.notice_date}]]</td>
					<td>
						<a title="下载附件" th:href="'/notice/downloadNoticeFile?notice_file='+${n.notice_file}" class="ml-5" style="text-decoration:none">[[${n.notice_file}]]</a>
					</td>
					<td class="td-status">
					<span th:if="${n.notice_state} eq '1'" class="label label-success">已发布</span>
						<span th:if="${n.notice_state} eq '0'"  class="label radius">已撤下</span>
					</td>
					<td class="td-manage">
						<input th:if="${n.notice_state} eq '1'" type="button" class="btn btn-primary size-MINI radius" value="撤下"  th:onClick="'notice_stop(this,\''+${n.notice_id}+'\')'">
						<input th:if="${n.notice_state} eq '0'" type="button" class="btn btn-primary size-MINI radius" value="发布"  th:onClick="'notice_start(this,\''+${n.notice_id}+'\')'">
						<input type="button" class="btn btn-primary size-MINI radius" value="编辑"  th:onClick="'notice_edit(\'编辑\',\'/notice/toUpdateNotice?notice_id='+${n.notice_id}+'\',\'4\',\'\',\'510\')'">
						<input type="button" class="btn btn-primary size-MINI radius" value="删除"  th:onClick="'notice_del(\'/notice/deleteNotice?notice_id='+${n.notice_id}+'\')'">
					</td>
				</tr>
		   </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>

<span th:if="${sb} eq 'inform'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 通知管理 <span class="c-gray en">&gt;</span> 发件箱 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="40">收件方</th>
				<th width="120">主题</th>
				<th width="80">时间</th>
				<th width="35">接收方阅读情况</th>
			</tr>
			</thead>
			<tbody>
		 <th:block th:each="ri,receiveInformStat : ${receiveInform}">
				<tr class="text-c">
					<td>[[${ri.member.member_name}]]</td>
					<td>
						<a href="javascript:void(0);" title="查看通知内容" th:onclick="'inform_show(\'通知详细信息\',\'/inform/toShowInform?inform_id='+${ri.inform_id}+'\',\'10001\',\'\',\'400\')'" class="ml-5" style="text-decoration:none">
							[[${ri.inform_title}]]
						</a>
					</td>
					<td>[[${ri.inform_time}]]</td>
					<td>
						<span th:if="${ri.inform_read} eq '0'" class="label  radius">未读</span>
						<span th:if="${ri.inform_read} eq '1'"class="label label-success radius">已读</span>
					</td>
				</tr>
		 </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>

<span th:if="${sb} eq 'fee'" th:remove="tag">
		<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span>账户管理 <span class="c-gray en">&gt;</span> 账户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
		<div class="page-container">
			<div class="panel-body">
				<div id="HuiTab-demo1" class="HuiTab">
					<div class="tabBar cl">
						<span>会员账户</span> <span>管理员账户</span>
					</div>
					<div class="tabCon"><!--会员账户 -->
						<div class="mt-10">
							<table class="table table-border table-bordered table-hover table-bg table-sort">
								<thead>
								<tr class="text-c">
									<th width="100">会员账户</th>
									<th width="70">姓名</th>
									<th width="100">密码</th>
									<th width="60">用户类型</th>
                                    <th width="60">消费详情</th>
									<th width="60">账户状态</th>
									<th width="60">操作</th>
								</tr>
								</thead>
								<tbody>
								  <th:block th:each="u,umStat : ${um}">
									<tr class="text-c">
										<td>[[${u.user_id}]]</td>
										<td>[[${u.member.member_name}]]</td>
										<td>[[${u.user_pwd}]]</td>
										<td>
											<span th:if="${u.member.memberCard.mc_id} eq '1'" th:remove="tag">月卡会员</span>
											<span th:if="${u.member.memberCard.mc_id} eq '2'" th:remove="tag">季卡会员</span>
											<span th:if="${u.member.memberCard.mc_id} eq '3'" th:remove="tag">年卡会员</span>
										</td>
                                        <td>
                                            <span th:if="${not #lists.isEmpty(u.feeList)}" th:remove="tag">
												<div style="overflow-x: auto; overflow-y: auto; height: 100px; width:400px;">
                                            <table>
                                      <tr>
                                      <td><b>订单id</b></td>
                                       <td><b>支付金额</b></td>
                                       <td><b>支付时间</b></td>
                                  </tr>
                                             <th:block th:each="fee,feeStat : ${u.feeList}">
                                                  <tr>
                                                  <td> [[${fee.fee_id}]]</td>
                                                  <td> [[${fee.fee_used}]]元</td>
                                                   <td>[[${fee.fee_datetimet}]]</td>
                                                   </tr>
                                             </th:block>
											</table></div>
                                            </span>
                                               <span th:if="${#lists.isEmpty(u.feeList)}" th:remove="tag">
                                                   <b>该会员没有任何消费</b>
                                               </span>
                                        </td>
										<td class="td-status">
											<span th:if="${u.user_state} eq '1'" class="label label-success radius">已启用</span>
											<span th:if="${u.user_state} eq '0'" class="label radius">已停用</span>
										</td>
										<td class="td-manage">
											<input th:if="${u.user_state} eq '1'" type="button" class="btn btn-primary size-MINI radius" value="停用"  th:onclick="user_stop(this,[[${u.user_id}]])">
											<input th:if="${u.user_state} eq '0'" type="button" class="btn btn-primary size-MINI radius" value="启用"  th:onclick="user_start(this,[[${u.user_id}]])">
											<input type="button" class="btn btn-primary size-MINI radius" value="修改密码"  th:onclick="change_password('修改密码','/user/toUpdateUserPassword?user_id='+[[${u.user_id}]],'4','','330')" >
										</td>
									</tr>
								  </th:block>
								</tbody>
							</table>
						</div>
					</div>

					<div class="tabCon"><!--管理员账户 -->
						<div class="mt-10">
							<table class="table table-border table-bordered table-hover table-bg table-sort">
								<thead>
								<tr class="text-c">
									<th width="100">管理员账户</th>
									<th width="70">姓名</th>
									<th width="100">密码</th>
									<th width="60">用户类型</th>
									<th width="60">账户状态</th>
									<th width="60">操作</th>
								</tr>
								</thead>
								<tbody>
								 <th:block th:each="u,uaStat : ${ua}">
									<tr class="text-c">
										<td>[[${u.user_id}]]</td>
										<td>[[${u.admin.admin_name}]]</td>
										<td>[[${u.user_pwd}]]</td>
										<td>
												<span th:if="${u.user_type} eq '2'" th:remove="tag">后台管理员</span>
											<span th:if="${u.user_type} eq  '3'" th:remove="tag">前台管理员</span>
										</td>
										<td class="td-status">
											<span th:if="${u.user_state} eq '1'" class="label label-success radius">已启用</span>
											<span th:if="${u.user_state} eq '0'" class="label radius">已停用</span>
										</td>
										<td class="td-manage">
											<input th:if="${u.user_state} eq '0'"  type="button" class="btn btn-primary size-MINI radius" value="停用"  th:onclick="user_stop(this,[[${u.user_id}]])" >
											<input th:if="${u.user_state} eq '1'"  type="button" class="btn btn-primary size-MINI radius" value="启用"  th:onclick="user_start(this,[[${u.user_id}]])" >
											<input type="button" class="btn btn-primary size-MINI radius" value="修改密码"   th:onclick="change_password('修改密码','/user/toUpdateUserPassword?user_id='+[[${u.user_id}]],'4','','330')"  >
										</td>
									</tr>
								 </th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		</span>

<span th:if="${sb} eq 'activity'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 活动管理 <span class="c-gray en">&gt;</span> 活动列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
<div class="panel-body">
  <table class="table table-border table-bordered table-hover table-bg table-sort">
    <thead>
      <tr class="text-c">
        <th width="120">活动主题</th>
        <th width="100">活动内容</th>
        <th width="40">活动时间</th>
		  <th width="40">教练（负责人）</th>
        <th width="50">教练特长</th>
        <th width="50">教练简介</th>
        <th width="30">是否发布</th>
        <th width="30">操作</th>
      </tr>
    </thead>
    <tbody>
   <th:block th:each="a,actStat : ${act}">
      <tr class="text-c">
        <td><a title="查看活动" href="javascript:;" th:onClick="activity_show('活动详细信息','/activity/toShowActivity?act_id='+[[${a.act_id}]],'10001','','400')" class="ml-5" style="text-decoration:none">[[${a.act_name}]]</a></td>
        <td>[[${a.act_content}]]</td>
        <td>[[${a.act_time}]]</td>
        <td>[[${a.coach.coach_name}]]</td>
        <td>[[${a.coach.coach_expert}]]</td>
		   <td>[[${a.coach.coach_resume}]]</td>
       <td class="td-status">
        	<span th:if="${a.act_state} eq '1'" class="label label-success radius">已发布</span>
        	<span th:if="${a.act_state} eq '0'" class="label radius">已撤下</span>
        </td>
        <td class="td-manage">
        	<input th:if="${a.act_state} eq '1'" type="button" class="btn btn-primary size-MINI radius" value="撤下"  th:onclick="activity_stop(this,[[${a.act_id}]])">
      		<input th:if="${a.act_state} eq '0'" type="button" class="btn btn-primary size-MINI radius" value="发布"  th:onclick="activity_start(this,[[${a.act_id}]])">
       </td>
      </tr>
   </th:block>
    </tbody>
  </table>
  </div>
</div>
</span>

<span th:if="${sb} eq 'classHour'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 课程管理 <span class="c-gray en">&gt;</span> 课程列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="30">课程ID</th>
				<th width="60">课程类型</th>
				<th width="80">课程内容</th>
				<th width="80">课程价格</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
		   <th:block th:each="ch,chStat : ${ch}">
				<tr class="text-c">
					<td>[[${ch.ch_id}]]</td>
					<td>[[${ch.ch_type}]]</td>
					<td>[[${ch.ch_content}]]</td>
						<td>[[${ch.ch_price}]]</td>
					<td class="td-manage">
						<input type="button" class="btn btn-primary size-MINI radius" value="编辑"  th:onClick="'classHour_edit(\'编辑\',\'/admin/toUpdateClassHour?ch_id='+${ch.ch_id}+'\',\'4\',\'\',\'510\')'">
						<input type="button" class="btn btn-primary size-MINI radius" value="删除"  th:onClick="'classHour_del(\'/admin/deleteClassHour?ch_id='+${ch.ch_id}+'\')'">
					</td>
				</tr>
		   </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>

<span th:if="${sb} eq 'memberCard'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员卡管理 <span class="c-gray en">&gt;</span> 会员卡列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="30">会员卡ID</th>
				<th width="60">总期限</th>
				<th width="80">名称</th>
				<th width="80">会员卡价格</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
		   <th:block th:each="mc,mcStat : ${mc}">
				<tr class="text-c">
					<td>[[${mc.mc_id}]]</td>
					<td>[[${mc.mc_quantity}]]</td>
					<td>[[${mc.mc_content}]]</td>
						<td>[[${mc.mc_price}]]</td>
					<td class="td-manage">
						<input type="button" class="btn btn-primary size-MINI radius" value="编辑"  th:onClick="'memberCard_edit(\'编辑\',\'/admin/toUpdateMemberCard?mc_id='+${mc.mc_id}+'\',\'4\',\'\',\'510\')'">
						<input type="button" class="btn btn-primary size-MINI radius" value="删除"  th:onClick="'memberCard_del(\'/admin/deleteMemberCard?mc_id='+${mc.mc_id}+'\')'">
					</td>
				</tr>
		   </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>

<span th:if="${sb} eq 'equ'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 场地设备管理 <span class="c-gray en">&gt;</span> 场地设备列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="30">场地设备ID</th>
				<th width="60">名称/th>
				<th width="80">总数量</th>
				<th width="80">需维修数量</th>
				<th width="80">简介</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
		   <th:block th:each="equ,equStat : ${equ}">
				<tr class="text-c">
					<td>[[${equ.equ_id}]]</td>
					<td>[[${equ.equ_name}]]</td>
					<td>[[${equ.equ_quantity}]]</td>
					<td>[[${equ.equ_repairquantity}]]</td>
						<td>[[${equ.equ_content}]]</td>
					<td class="td-manage">
						<input type="button" class="btn btn-primary size-MINI radius" value="编辑"  th:onClick="'equ_edit(\'编辑\',\'/admin/toUpdateEqu?equ_id='+${equ.equ_id}+'\',\'4\',\'\',\'510\')'">
						<input type="button" class="btn btn-primary size-MINI radius" value="删除"  th:onClick="'equ_del(\'/admin/deleteEqu?equ_id='+${equ.equ_id}+'\')'">
					</td>
				</tr>
		   </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>

<span th:if="${sb} eq 'coach'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 教练管理 <span class="c-gray en">&gt;</span> 教练列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="30">id</th>
				<th width="30">姓名</th>
				<th width="60">性别</th>
				<th width="80">联系方式</th>
				<th width="80">特长</th>
				<th width="80">简介</th>

					<th width="80">所授课程</th>
                 <th width="80">是否上线</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
		   <th:block th:each="coa,coaStat : ${coa}">
				<tr class="text-c">
					<td>[[${coa.coach_id}]]</td>
					<td>[[${coa.coach_name}]]</td>
					<td>[[${coa.coach_sex}]]</td>
					<td>手机：[[${coa.coach_mobile}]]<br>
						微信：[[${coa.coach_wechat}]]<br>
						QQ：[[${coa.coach_qq}]]</td>
						<td>[[${coa.coach_expert}]]</td>
					<td>[[${coa.coach_resume}]]</td>
					<td><strong>id:</strong>[[${coa.classHour.ch_id}]]<br>
					<strong>类型:</strong>[[${coa.classHour.ch_type}]]<br>
					<strong>内容:</strong>[[${coa.classHour.ch_content}]]<br>
					<strong>价格:</strong>[[${coa.classHour.ch_price}]]</td>
                       <td class="td-status">
        	<span th:if="${coa.coach_state} eq '1'" class="label label-success radius">已上线</span>
        	<span th:if="${coa.coach_state} eq '0'" class="label radius">已下线</span>
        </td>
        <td class="td-manage">
        	<input th:if="${coa.coach_state} eq '1'" type="button" class="btn btn-primary size-MINI radius" value="下线"  th:onclick="coach_stop(this,[[${coa.coach_id}]])">
      		<input th:if="${coa.coach_state} eq '0'" type="button" class="btn btn-primary size-MINI radius" value="上线"  th:onclick="coach_start(this,[[${coa.coach_id}]])">
						<input type="button" class="btn btn-primary size-MINI radius" value="编辑"  th:onClick="'coa_edit(\'编辑\',\'/admin/toUpdateCoach?coach_id='+${coa.coach_id}+'\',\'4\',\'\',\'510\')'">
						<input type="button" class="btn btn-primary size-MINI radius" value="删除"  th:onClick="'coa_del(\'/admin/deleteCoach?coach_id='+${coa.coach_id}+'\')'">
					</td>
				</tr>
		   </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>


<span th:if="${sb} eq 'member'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 会员管理 <span class="c-gray en">&gt;</span> 会员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="30">会员账号</th>
				<th width="30">姓名</th>
				<th width="60">性别</th>
                <th width="80">出生日期</th>
				<th width="80">联系方式</th>
				<th width="80">住址</th>
				<th width="80">简介</th>
                <th width="80">卡期限</th>
					<th width="80">私教课</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
		   <th:block th:each="m,mStat : ${m}">
				<tr class="text-c">
					<td>[[${m.user.user_id}]]</td>
					<td>[[${m.member_name}]]</td>
					<td>[[${m.member_sex}]]</td>
                    <td>[[${m.member_birthDate}]]</td>
					<td><b>手机：</b>[[${m.member_mobile}]]<br>
						<b>微信：</b>[[${m.member_wechat}]]<br>
						<b>QQ：</b>[[${m.member_qq}]]</td>
						<td>[[${m.member_address}]]</td>
					<td>[[${m.member_resume}]]</td>
                    <td> <strong>会员卡id:</strong><a href="javascript:void(0);" title="查看会员卡内容" th:onclick="'mc_show(\'会员卡详细信息\',\'/admin/toShowMc?mc_id='+${m.memberCard.mc_id}+'\',\'10001\',\'\',\'400\')'" class="ml-5" style="text-decoration:none">
						  [[${m.memberCard.mc_id}]]
						</a><br>
					<strong>开始时间:</strong>[[${m.member_mcStart}]]<br>
					<strong>到期时间:</strong>[[${m.member_mcEnd}]]
                    </td>
					<td>
                          <th:block th:each="mch,mchStat : ${m.classHourList}">
                        <a href="javascript:void(0);" title="查看私教内容" th:onclick="'ch_show(\'私教详细信息\',\'/admin/toShowCh?member_id='+${m.member_id}+'&ch_id='+${mch.ch_id}+'\',\'10001\',\'\',\'400\')'" class="ml-5" style="text-decoration:none">
						  [[${mch.ch_type}]]
						</a><br>
                          </th:block>
                    </td>
        <td class="td-manage">
            <input type="button" class="btn btn-primary size-MINI radius" value="编辑"  th:onClick="'m_edit(\'编辑\',\'/admin/toUpdateMember?member_id='+${m.member_id}+'\',\'4\',\'\',\'510\')'">
            <input th:if="${m.memberCard.mc_id} eq 0 and ${m.classHourList} eq null"  type="button" class="btn btn-primary size-MINI radius" value="删除"  th:onClick="'m_del(\'/admin/deleteMember?member_id='+${m.member_id}+'\')'">
					</td>
				</tr>
		   </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>

<span th:if="${sb} eq 'pwd'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 修改密码 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<article class="page-container">
    <form class="form form-horizontal" id="form-user-passwordEdit">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>账户id：</label>
            <div class="formControls col-xs-7">
                <b>[[${session.a_id}]]</b>
                <input type="hidden"  th:value="${session.a_id}" id="user_id" name="user_id" >
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red"></span>旧密码：</label>
            <div class="formControls col-xs-7">
                <input type="password" class="input-text" autocomplete="off" th:value="${session.a_pwd}" placeholder="6-12位" id="" name="" readonly="readonly">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
            <div class="formControls col-xs-7">
                <input type="password" class="input-text" autocomplete="off"  placeholder="长度在6-15位之间" id="user_pwd" name="user_pwd">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
            <div class="formControls col-xs-7">
                <input type="password" class="input-text" autocomplete="off" placeholder="再输一遍，确认密码" id="password" name="password">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
</span>

<span th:if="${sb} eq 'sm'" th:remove="tag">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 套餐管理 <span class="c-gray en">&gt;</span> 套餐列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="panel-body">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
			<tr class="text-c">
				<th width="30">id</th>
				<th width="30">套餐名</th>
				<th width="60">会员卡</th>
					<th width="60">课程</th>
				<th width="80">价格</th>
				<th width="80">操作</th>
			</tr>
			</thead>
			<tbody>
		   <th:block th:each="sm,smStat : ${sm}">
			    <span th:if="${sm.memberCard.mc_id} ne 0" th:remove="tag">
				<tr class="text-c">
					<td>[[${sm.sm_id}]]</td>
					<td>[[${sm.sm_name}]]</td>
					<td><strong>id:</strong>[[${sm.memberCard.mc_id}]]<br>
						<strong>天数:</strong>[[${sm.memberCard.mc_quantity}]]天<br>
						<strong>类型:</strong>[[${sm.memberCard.mc_content}]]<br>
						<strong>价格:</strong>[[${sm.memberCard.mc_price}]]元</td>
					<td>
												<div style="overflow-x: auto; overflow-y: auto; height: 100px; width:700px;">
                                            <table>
                                      <tr>
                                      <td><b>id</b></td>
                                       <td><b>类型</b></td>
                                       <td><b>内容</b></td>
										   <td><b>价格</b></td>
                                  </tr>
                                             <th:block th:each="ch,chStat : ${sm.classHourList}">
                                                  <tr>
                                                  <td> [[${ch.ch_id}]]</td>
                                                  <td> [[${ch.ch_type}]]元</td>
                                                   <td>[[${ch.ch_content}]]</td>
													     <td>[[${ch.ch_price}]]元</td>
                                                   </tr>
                                             </th:block>
											</table></div>
                                            </span>
                                               <span th:if="${#lists.isEmpty(sm.classHourList)}" th:remove="tag">
                                                   <b>该套餐没有任何课程</b>
                                               </span>
					</td>
					<td>[[${sm.sm_price}]]元</td>
        <td class="td-manage">
			<input type="button" class="btn btn-primary size-MINI radius" value="编辑"  th:onClick="'sm_edit(\'编辑\',\'/admin/toUpdateSm?sm_id='+${sm.sm_id}+'\',\'4\',\'\',\'510\')'">
						<input type="button" class="btn btn-primary size-MINI radius" value="删除"  th:onClick="'sm_del(\'/admin/deleteSm?sm_id='+${sm.sm_id}+'\')'">
					</td>
				</tr>
		   </th:block>
		     <th:block th:each="sm,onlysmStat : ${onlysm}">
				   	<tr class="text-c">
						<td>[[${sm.sm_id}]]</td>
					<td>[[${sm.sm_name}]]</td>
						<td>该套餐没有会员卡</td>
						<td>
						<div style="overflow-x: auto; overflow-y: auto; height: 100px; width:700px;">
                                            <table>
                                      <tr>
                                      <td><b>id</b></td>
                                       <td><b>类型</b></td>
                                       <td><b>内容</b></td>
										   <td><b>价格</b></td>
                                  </tr>
												   <th:block th:each="onlych,chStat : ${sm.classHourList}">
										    <tr>
                                                  <td> [[${onlych.ch_id}]]</td>
                                                  <td> [[${onlych.ch_type}]]元</td>
                                                   <td>[[${onlych.ch_content}]]</td>
													     <td>[[${onlych.ch_price}]]元</td>
                                                   </tr>
												   </th:block>
								</table>
						</div>
						</td>
							<td>[[${sm.sm_price}]]元</td>
        <td class="td-manage">
			<input type="button" class="btn btn-primary size-MINI radius" value="编辑"  th:onClick="'sm_edit(\'编辑\',\'/admin/toUpdateSm?sm_id='+${sm.sm_id}+'\',\'4\',\'\',\'510\')'">
						<input type="button" class="btn btn-primary size-MINI radius" value="删除"  th:onClick="'sm_del(\'/admin/deleteSm?sm_id='+${sm.sm_id}+'\')'">
					</td>
				</tr>
			 </th:block>
			</tbody>
		</table>
	</div>
</div>
</span>


<footer class="footer mt-20">
	<div class="container">
		<p>
			Copyright &copy; 苏文豪  All Rights Reserved.
		</p>
	</div>
</footer>
</body>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script >
    $(document).ready(function(){
        //返回顶部
        $.Huitotop();
        //选项卡
        $("#HuiTab-demo1").Huitab({
            index:0
        });
        /*活动-详情*/
        activity_show=function (title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*活动-撤下*/
        activity_stop=function (obj,id){
            var param = {};
            param["act_id"] = id;
            param["act_state"] = 0;
            layer.confirm('确认要撤下吗？',function(index){
                $.ajax({
                    url:"/activity/updateActivityState",
                    data:param,
                    type:"post",
                    dataType:"text",
                    success:function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<input type="button" class="btn btn-primary size-MINI radius" value="发布"  onClick="activity_start(this,'+id+')"> ');
                        $(obj).parents("tr").find(".td-status").html('<span class="label radius">已撤下</span>');
                        $(obj).remove();
                        layer.msg('已撤下!',{icon: 5,time:1000});
                    },
                    error:function(){
                        layer.msg('又失败喇!哈哈哈哈', {icon: 6,time:1000});
                    }
                });
            });
        }

        /*活动-发布*/
        activity_start=function (obj,id){
            var param = {};
            param["act_id"] = id;
            param["act_state"] = 1;
            layer.confirm('确认要发布吗？',function(index){
                $.ajax({
                    url:"/activity/updateActivityState",
                    data:param,
                    type:"post",
                    dataType:"text",
                    success:function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<input type="button" class="btn btn-primary size-MINI radius" value="撤下"  onClick="activity_stop(this,'+id+')"> ');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                        $(obj).remove();
                        layer.msg('已发布!', {icon: 6,time:1000});
                    },
                    error:function(){
                        layer.msg('又失败喇!哈哈哈哈', {icon: 6,time:1000});
                    }
                });
            });
        }
        $("#Huitags-demo1").Huitags();
        /*密码-修改*/
        change_password=function (title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*账户-停用*/
        user_stop=function(obj,id){
            var param = {};
            param["user_id"] = id;
            param["user_state"] = 0;
            layer.confirm('确认要停用吗？',function(index){
                $.ajax({
                    url:"/user/updateState",
                    data:param,
                    type:"post",
                    dataType:"text",
                    success:function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<input type="button" class="btn btn-primary size-MINI radius" value="启用"  onClick="user_start(this,'+id+')">');
                        $(obj).parents("tr").find(".td-status").html('<span class="label radius">已停用</span>');
                        $(obj).remove();
                        layer.msg('已停用!',{icon: 5,time:1000});
                    },
                    error:function(){
                        layer.msg('又失败喇!哈哈哈哈', {icon: 6,time:1000});
                    }
                });
            });
        }

        /*账户-启用*/
        user_start=function(obj,id) {
            var param = {};
            param["user_id"] = id;
            param["user_state"] = 1;
            layer.confirm('确认要启用吗？', function (index) {
                $.ajax({
                    url: "/user/updateState",
                    data: param,
                    type: "post",
                    dataType: "text",
                    success: function (data) {
                        $(obj).parents("tr").find(".td-manage").prepend('<input type="button" class="btn btn-primary size-MINI radius" value="停用"  onClick="user_stop(this,' + id + ')">');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
                        $(obj).remove();
                        layer.msg('已启用!', {icon: 6, time: 1000});
                    },
                    error: function () {
                        layer.msg('又失败喇!哈哈哈哈', {icon: 6, time: 1000});
                    }
                });
            });
        }
        /*自动分页*/
        $('.table-sort').dataTable();
        /*通知详细信息-查看*/
        inform_show=function (title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*公告详细信息-查看*/
        notice_show=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*公告信息-编辑*/
        notice_edit=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*公告-删除*/
        notice_del=function(url){
            layer.confirm('确认要删除吗？',{btn: ['确定', '取消'],title:"提示"},function(){
                $.ajax({
                    url:url,
                    type:"GET",
                    dataType:"text",
                    success:function(data){
                        if(data=="1"){
                            layer.confirm('删除成功！', {
                                btn: ['确定']
                            },  function(){
                                location.reload();
                            });
                        }
                        else{
                            layer.alert("删除失败！一般来说不会失败的！！");
                        }
                    },
                    error:function(){
                        layer.alert("又失败了！哈哈哈哈");
                    }
                });
            });
        }
        /*公告-撤下*/
        notice_stop=function(obj,id){
            var param = {};
            param["notice_id"] = id;
            param["notice_state"] = 0;
            var json = JSON.stringify(param);
            layer.confirm('确认要撤下吗？',function(index){
                $.ajax({
                    type:"post",
                    url:"/notice/updateNoticeState",
                    contentType : "application/json;charset=UTF-8",
                    data:json,
                    dataType:"json",
                    success:function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<input type="button" class="btn btn-primary size-MINI radius" value="发布"  onClick="notice_start(this,'+id+')">');
                        $(obj).parents("tr").find(".td-status").html('<span class="label radius">已撤下</span>');
                        $(obj).remove();
                        layer.msg('已撤下!',{icon: 5,time:1000});
                    },
                    error:function(){
                        layer.msg('又失败喇!哈哈哈哈', {icon: 6,time:1000});
                    }
                });
            });
        }

        /*公告-发布*/
        notice_start=function(obj,id){
            layer.confirm('确认要发布吗？',function(index){
                $.ajax({
                    url:"/notice/updateNoticeState",
                    data:{
                        notice_id:id,
                        notice_state:1
                    },
                    type:"post",
                    dataType:"text",
                    success:function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<input type="button" class="btn btn-primary size-MINI radius" value="撤下"  onClick="notice_stop(this,'+id+')">');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已发布</span>');
                        $(obj).remove();
                        layer.msg('已发布!', {icon: 6,time:1000});
                    },
                    error:function(){
                        layer.msg('又失败喇!哈哈哈哈', {icon: 6,time:1000});
                    }
                });
            });
        }
        /*课程-编辑*/
        classHour_edit=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*课程-删除*/
        classHour_del=function(url){

            layer.confirm('确认要删除吗？',{btn: ['确定', '取消'],title:"提示"},function(){
                $.ajax({
                    url:url,
                    type:"get",
                    dataType:"json",
                    contentType : "application/json;charset=UTF-8",
                    success:function(data){
                        if(data=="1"){
                            layer.confirm('删除成功！', {
                                btn: ['确定']
                            },  function(){
                                location.reload();
                            });
                        }
                        else{
                            layer.alert("有会员拥有该课程，不能删除！");
                        }
                    },
                    error:function(){
                        layer.alert("有会员拥有该课程，不能删除！！！");
                    }
                });
            });
        }
        /*会员卡-编辑*/
    memberCard_edit=function(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*会员卡-删除*/
    memberCard_del=function(url){
        layer.confirm('确认要删除吗？',{btn: ['确定', '取消'],title:"提示"},function(){
            $.ajax({
                url:url,
                type:"get",
                dataType:"json",
                contentType : "application/json;charset=UTF-8",
                success:function(data){
                    if(data=="1"){
                        layer.confirm('删除成功！', {
                            btn: ['确定']
                        },  function(){
                            location.reload();
                        });
                    }
                    else{
                        layer.alert("有会员拥有该课程，不能删除！");
                    }
                },
                error:function(){
                    layer.alert("有会员拥有该课程，不能删除！！！");
                }
            });
        });
    }
    /*equ-编辑*/
    equ_edit=function(title,url,id,w,h){
        layer_show(title,url,w,h);
    }
    /*equ-删除*/
    equ_del=function(url){
        layer.confirm('确认要删除吗？',{btn: ['确定', '取消'],title:"提示"},function(){
            $.ajax({
                url:url,
                type:"get",
                dataType:"json",
                contentType : "application/json;charset=UTF-8",
                success:function(data){
                    if(data=="1"){
                        layer.confirm('删除成功！', {
                            btn: ['确定']
                        },  function(){
                            location.reload();
                        });
                    }
                    else{
                        layer.alert("有会员拥有该课程，不能删除！");
                    }
                },
                error:function(){
                    layer.alert("有会员拥有该课程，不能删除！！！");
                }
            });
        });
    }

        /*coa-编辑*/
        coa_edit=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*coa-删除*/
        coa_del=function(url){
            layer.confirm('确认要删除吗？',{btn: ['确定', '取消'],title:"提示"},function(){
                $.ajax({
                    url:url,
                    type:"get",
                    dataType:"json",
                    contentType : "application/json;charset=UTF-8",
                    success:function(data){
                        if(data=="1"){
                            layer.confirm('删除成功！', {
                                btn: ['确定']
                            },  function(){
                                location.reload();
                            });
                        }
                        else{
                            layer.alert("有会员拥有该课程，不能删除！");
                        }
                    },
                    error:function(){
                        layer.alert("有会员拥有该课程，不能删除！！！");
                    }
                });
            });
        }
        /*教练-撤下*/
        coach_stop=function(obj,id){
            var param = {};
            param["coach_id"] = id;
            param["coach_state"] = "0";
            var json = JSON.stringify(param);
            layer.confirm('确认要撤下吗？',function(index){
                $.ajax({
                    url:"/admin/updateCoachState",
                    data:json,
                    type:"post",
                    dataType:"json",
                    contentType : "application/json;charset=UTF-8",
                    success:function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<input type="button" class="btn btn-primary size-MINI radius" value="上线"  onClick="coach_start(this,'+id+')">');
                        $(obj).parents("tr").find(".td-status").html('<span class="label radius">已下线</span>');
                        $(obj).remove();
                        layer.msg('已下线!',{icon: 5,time:1000});
                    },
                    error:function(){
                        layer.msg('又失败喇!哈哈哈哈', {icon: 6,time:1000});
                    }
                });
            });
        }
        /*教练-发布*/
        coach_start=function(obj,id){
            layer.confirm('确认要发布吗？',function(index){
                $.ajax({
                    url:"/admin/updateCoachState",
                    data:{
                        coach_id:id,
                        coach_state:"1"
                    },
                    type:"post",
                    dataType:"text",
                    success:function(data){
                        $(obj).parents("tr").find(".td-manage").prepend('<input type="button" class="btn btn-primary size-MINI radius" value="下线"  onClick="coach_stop(this,'+id+')">');
                        $(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已上线</span>');
                        $(obj).remove();
                        layer.msg('已上线!', {icon: 6,time:1000});
                    },
                    error:function(){
                        layer.msg('又失败喇!哈哈哈哈', {icon: 6,time:1000});
                    }
                });
            });
        }

        /* 会员卡详情*/
        mc_show=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /* 私教详情*/
        ch_show=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /* 会员-编辑*/
        m_edit=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*会员-删除*/
        m_del=function(url){
            layer.confirm('确认要删除吗？',{btn: ['确定', '取消'],title:"提示"},function(){
                $.ajax({
                    url:url,
                    type:"get",
                    dataType:"json",
                    contentType : "application/json;charset=UTF-8",
                    success:function(data){
                        if(data=="1"){
                            layer.confirm('删除成功！', {
                                btn: ['确定']
                            },  function(){
                                location.reload();
                            });
                        }
                        else{
                            layer.alert("有会员拥有该课程，不能删除！");
                        }
                    },
                    error:function(){
                        layer.alert("有会员拥有该课程，不能删除！！！");
                    }
                });
            });
        }
        $("#form-user-passwordEdit").validate({
            rules:{
                user_pwd:{
                    required:true,
                    minlength : 6,
                    maxlength : 15
                },
                password:{
                    required:true,
                    equalTo: "#user_pwd"
                }
            },
            messages: {
                password : {
                    equalTo : "两次输入的密码不一致！",
                },
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
            submitHandler:function(form){
                $(form).ajaxSubmit({
                    type: 'post',
                    url: "/admin/updatePassword" ,
                    dataType:"text",
                    async: false,
                    success: function(data){
                        if(data=="1"){
                            layer.confirm('修改成功！密码已自动更新', {
                                btn: ['确定']
                            },  function(){
                                parent.layer.close();
                                parent.location.reload();
                            });
                        }else layer.alert("修改失败！");
                    },
                    error: function(XmlHttpRequest, textStatus, errorThrown){
                        layer.alert("修改失败！");
                    }
                });
            }
        });
        /*套餐-编辑*/
        sm_edit=function(title,url,id,w,h){
            layer_show(title,url,w,h);
        }
        /*套餐-删除*/
        sm_del=function(url){
            layer.confirm('确认要删除吗？',{btn: ['确定', '取消'],title:"提示"},function(){
                $.ajax({
                    url:url,
                    type:"get",
                    dataType:"json",
                    contentType : "application/json;charset=UTF-8",
                    success:function(data){
                        if(data=="1"){
                            layer.confirm('删除成功！', {
                                btn: ['确定']
                            },  function(){
                                location.reload();
                            });
                        }
                        else{
                            layer.alert("有会员拥有该课程，不能删除！");
                        }
                    },
                    error:function(){
                        layer.alert("有会员拥有该课程，不能删除！！！");
                    }
                });
            });
        }

    });
</script>
</html>