<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="utf-8">
    <title>城院北门健身俱乐部管理系统</title>
    <link rel="Shortcut Icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/h-ui.admin/css/style.css" />
    <link rel="stylesheet" href="/css/style1.css" type="text/css" media="all"/>
    <script src="/js/jquery-1.8.3.min.js"></script>
    <script >
        $(document).ready(function(){

            $("#appoint").click(function(){
               var chid=$("#appoint").val();
            var coachid=$('#coachid').val();
            alert(coachid+chid);
            var param = {};
            param["ch_id"] =chid;
            param["coach_id"] =coachid;
            var json=JSON.stringify(param);
            $.ajax({
                type: "POST",                           //传数据的方式
                url: "/coach/toCoachAppointWeb",
                data: json, //servlet地址
                contentType : "application/json;charset=UTF-8",
                dataType:"json",
                success: function(data){  //传数据成功之后的操作   result是servlet传过来的数据  这个函数对result进行处理，让它显示在 输入框中
                  if(data==0){
                      layer.confirm('你没有该课时！', {
                          btn: ['确定']
                      },  function(){
                          window.location.href="/coach/findUpCoachWeb";
                      });
                  }else{
                      layer.confirm('预约成功！', {
                          btn: ['确定']
                      },  function(){
                          window.location.href="/coach/findUpCoachWeb";
                      });
                  }

                }
            });
            });


        });
    </script>
</head>
<body>
<div id="hearder2" class="clearfix">
    <div class="logo">
        <img src="/img/index.png" >
    </div>
    <div class="logo-name">健身房管理平台</div>
    <div class="form-tools">
        <div class="tools-link">
            <a href="/user/toLoginWeb">管理员后台登录入口</a>

            <p th:if="${not #strings.isEmpty(session.m_id)}">
                会员&nbsp;<span th:text="${session.m_id}+${session?.self?.member_name}" th:remove="tag">
                </span>&nbsp;
                <span th:if="${#strings.isEmpty(session.m_id)}" th:remove="tag">
                    请先登录
                </span>
            </p>
        </div>
    </div>
</div>
<div id="menu-box" class="clearfix">
    <ul>
       <span th:if="${#strings.isEmpty(session.m_id)}" th:remove="tag">
            <li><a href="/">主页</a></li>
        </span>
        <span th:if="${not #strings.isEmpty(session.m_id)}" th:remove="tag">
            <li><a href="/welcome/member">主页</a></li>
        </span>
        <li><a href="/coach/findUpCoachWeb">教练信息</a></li>
        <span th:if="${not #strings.isEmpty(session?.self?.classHourList)}" th:remove="tag">
            <li><a href="/coach/findAllMemberClassHourWeb">我的私教</a></li>
        </span>
        <li><a href="/activity/findUpActivityWeb">活动信息</a></li>
        <li><a href="/notice/findNoticeWeb">系统公告</a></li>
        <li><a href="/facilityEquipment/findUpFacilityEquipmentWeb">设备和场地</a></li>
        <span th:if="${not #strings.isEmpty(session.m_id)}" th:remove="tag">
            <li><a href="/inform/findMyselfInformWeb">我的消息</a></li>
            <li><a href="/message/findMessageByMemberWeb">联系我们</a></li>
            <li><a href="/member/toPerfectMemberWeb">个人中心</a></li>
            <li><a href="/user/Weblogout">退出登录</a></li>
        </span>
    </ul>
</div><br>
<!-- detail -->
<div id="detail2-box" >


    <div class="page-container">
            <img alt="" src="/img/ass1.png" align="middle"><br>
            当前位置：<a href="/welcome/member">主页</a> ---> 教练信息<br>
                <form action="/coach/findUpCoachByTitleWeb" method="post">
				<select class="select" style="width:100px" name="condition" size="1">
				<option value="coach_name">教练名称</option>
				<option value="coach_sex">性别</option>
                <option value="coach_expert">特长</option>
                    <option value="ch_price">私教费用(课时/每)</option>
			</select>
			<input type="text" class="input-text" style="width:200px" placeholder="先选择左边的需要查询的条件" id="input" name="input">
			<button type="submit" class="btn btn-success radius"><i class="Hui-iconfont">&#xe665;</i> 搜活动</button>
		</form>
              <th:block th:each="coa,coachStat : ${coach}">
		<div class="panel panel-default mt-15">
			<div class="panel-header clearfix">
				<span th:text="'教练名称：'+${coa.coach_name}" class="f-l"></span>
				<span  th:text="'特长：'+${coa.coach_expert}" class="f-r"></span>
			</div>
			<div class="panel-body" style="display: none;">
							<table class="table table-border table-bordered table-bg mt-5">
								<thead>
									<tr>
										<th colspan="2" scope="col">教练详情</th>
									</tr>
								</thead>
								<tbody>
									<tr>
                                        <th width="15%">教练</th>
                                        <td th:text="${coa.coach_name}+',性别：'+${coa.coach_sex}"></td>
                                    </tr>

                                    <tr>
                                        <th width="15%">特长</th>
                                        <td th:text="${coa.coach_expert}+${coa.classHourList.get(0).ch_content}"></td>
                                    </tr>
                                    <tr>
                                        <th width="15%">教练简介</th>
                                        <td ><textarea rows="" cols=""  class="textarea" readonly="readonly"  th:text="${coa.coach_resume}"></textarea></td>
                                    </tr>
                                    <tr>
                                        <th width="15%">私教</th>
                                        <td>
                                            <span  th:each="ch,classHourStat : ${coa.classHourList}" >
                                                <div th:text="${ch.ch_content}+':'+${ch.ch_price}+'元'">
                                                  </div><br>
                                            </span>
                                        </td>
                                    </tr>
                                <tr>
                                        <th>联系方式</th>
                                        <td th:text="'手机：'+${coa.coach_mobile}+',微信：'+${coa.coach_wechat}+',qq：'+${coa.coach_qq}"></td>
                                    </tr>
                                    <span th:if="${not #strings.isEmpty(session.m_id)}" th:remove="tag">
                                          <span th:if="${not #strings.isEmpty(session.self.classHourList.get(0).ch_id)}" th:remove="tag">
                                         <tr>
                                        <th>预约私教</th>
                                             <td>
                                                  <div  th:each="ch,classHourStat : ${coa.classHourList}" >
                                                 <button id="appoint" th:value="${ch.ch_id}">
                                                     <span th:text="${ch.ch_content}" th:remove="tag">
                                                 </span></button>
                                                  </div>
                                                 <input type="hidden" th:value="${coa.coach_id}" id="coachid">
                                             </td>
                                    </tr>
                                          </span>
                                    </span>
                                </tbody>
							</table>
						</div>
				</div>
	</th:block>
    </div>


</div>
<div class="footer">活动列表。。。到头了哦！!<br>Copyright &copy; 2019 苏文豪 All rights reserved</div>

<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.js"></script>
<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/h-ui.admin/js/H-ui.admin.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript">
    $(function() {
        //返回顶部
        $.Huitotop();

        //收缩功能
        $(".panel").Huifold({
            titCell : '.panel-header',
            mainCell : '.panel-body',
            type : 1,
            trigger : 'click',
            className : "selected",
            speed : "first",
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>